* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --text-primary: #111111;
    --text-secondary: #747789;

    --primary: #6C35F2;
    --primary-soft: #784de2;

    --blue: blue;

    --background: #FFFFFF;
    --border: #E5E5EA;

    --layout-columns: 220px 2fr 320px;
    --layout-gap: 32px;
    --layout-width: 1400px;
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items {
    display:flex;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    
    transition: 0.2s ease-in-out;
}

a {
    color: var(--text-secondary);
}

a:hover {
    color: var(--primary);
}

svg {
    height: 24px;
    width: 24px;
    stroke: var(--text-secondary);
    stroke-width: 1;
    background-color: none;
    
    transition: 0.2s ease-in-out;
}

svg:hover {
    stroke: var(--primary) !important;
    stroke-width: 2;
}

button {
    border: none;
}

.borderless {
    border: none;
}

input {
    background-color: none;
}

.justify-evently {
    display:flex;
    justify-content: space-evenly;
}

.justify-around {
    display:flex;
    justify-content: space-around;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.text-secundary {
    color: var(--text-secondary);
}

.small-image-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.title-media-content {
    color: var(--text-primary);
    font-size: 18px;
}

.uppercase {
    text-transform: uppercase;
}

.big-gap {
    gap: 20px;
}

.small-gap {
    gap: 10px;
}

.tiny-gap {
    gap: 1px;
}

.medium-gap {
    gap: 15px;
}

.medium-list-title {
    font-size: 16px;
}

.background-button {
    padding: 10px 30px;
    background-color: var(--primary);
    color: white;
    border-radius: 999px;

    transition: 0.3s ease-in-out;
}

.background-button:hover {
    color: white;
    background-color: var(--primary-soft);
}

.layout {
    display: grid;
    grid-template-columns: var(--layout-columns);
    gap: var(--layout-gap);

    max-width: var(--layout-width);
    margin: 0 auto;
}

a, button {
    width: fit-content;
}

.align-horizontaly {
    margin: 0 auto;
}
