* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --text-primary: #111111;
    --text-secondary: #747789;

    --primary: #6C35F2;
    --primary-soft: #784de2;

    --blue: blue;

    --background: #FFFFFF;
    --border: #E5E5EA;

    --layout-columns: 320px 2fr 320px;
    --layout-gap: 32px;
    --layout-width: 1400px;

    --font: "Inter", sans-serif;
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
}

.no-overflow {
    overflow-y: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items {
    display:flex;
    align-items: center;
}

.align-text {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
    
    transition: 0.2s ease-in-out;
}

a:hover {
    color: var(--primary);
}

svg {
    height: 24px;
    width: 24px;
    stroke: var(--text-secondary);
    stroke-width: 1;
    background-color: none;
    fill: none;
    
    transition: 0.2s ease-in-out;
}

svg:hover {
    stroke: var(--primary) !important;
    stroke-width: 2;
}

button {
    border: none;
}

.borderless {
    border: none;
}

input {
    background-color: none;
}

.justify-evently {
    display:flex;
    justify-content: space-evenly;
}

.justify-around {
    display:flex;
    justify-content: space-around;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-center {
    display:flex;
    justify-content: center;
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.primary-color {
    color: var(--primary);
}

.medium-text {
    font-size: 16px;
}

.small-text {
    font-size: 14px;
}

.small-image-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.title-media-content {
    color: var(--text-primary);
    font-size: 18px;
}

.uppercase {
    text-transform: uppercase;
}

.bigger-gap {
    gap: 40px;
}

.big-gap {
    gap: 20px;
}

.small-gap {
    gap: 10px;
}

.slim-gap {
    gap: 4px;
}

.tiny-gap {
    gap: 1px;
}

.medium-gap {
    gap: 15px;
}

.medium-list-title {
    font-size: 16px;
}

.big-button {
    padding: 10px 30px;
    border-radius: 999px;
    transition: 0.3s ease-in-out;
}

.background-button {
    padding: 10px 30px;
    background-color: var(--primary);
    color: white;
}

.background-button:hover {
    background-color: var(--primary-soft);
    color: white;
}

.no-background-button {
    background-color: transparent;
    color: var(--primary);
    border: solid 1px var(--primary);
}

.no-background-button:hover {
    border-color: var(--primary-soft);
    color: var(--primary-soft);
}

.layout {
    display: grid;
    grid-template-columns: var(--layout-columns);
    gap: var(--layout-gap);

    max-width: var(--layout-width);
    margin: 0 auto;
}

a, button {
    width: fit-content;
}

.align-horizontaly {
    margin: 0 auto;
}

.company-logo {
    max-height: 50px;
}

.primary-link {
    color: var(--primary);
}

.bold {
    font-weight: bold;
}

.big-line {
    height: 5px;
    width: 100%;
    border: 1px solid;
    background-color: var(--primary);
    border-radius: 10px;
}

.fit-content {
    width: fit-content;
}

.pointer:hover {
    cursor: pointer;
}

.default-button {
    background-color: var(--primary);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

.default-button:hover {
    cursor: pointer;
}

.input-text {
    width: 100%;
}

.input-text {
    border: solid 1px transparent;
    padding: 20px;
    border-radius: 5px;
}

.border-focusable {
    border-color: transparent;
    outline: none;
    
    transition: 0.3s ease-in-out;
}

.border-focusable:focus-within, .border-focusable:hover {
    border-color: var(--primary-soft);
    outline: none;
}

.big-text {
    font-size: 16px;
}

.big-input-text {
    height: 150px;
}

textarea {
    font-family: var(--font);
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.user-verified-icon {
    stroke: blue !important;
    stroke-width: 2;
}