* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #F8F9FA;
    font-family: "Inter", sans-serif;
}

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight:lighter;
}

.borderless {
    border: none !important;
}

.no-background {
    background-color: none;
}

header {
    position: relative;
    padding: 20px 40px 20px 40px;
}

header > * {
    max-height: 48px !important;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;

    width: 800px;
    padding: 0 15px;

    border: 1px solid gray;
    border-radius: 1000px;

    transition: border-color .2s, box-shadow .2s;
}

.search-form:focus-within {
    border-color: #39A935;
    box-shadow: 0 0 0 2px rgba(57, 169, 53, .15);
}

.search-bar {
    flex: 1;

    font-weight: bold;

    border: none;
    outline: none;
    background: transparent;

    padding: 15px 0;
    margin-right: 10px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.search-button i {
    color: gray;
}

.search-form:focus-within .search-button i {
    color: #39A935;
}

.search-button i {
    font-size: 24px;
}

.button {
    border: solid 1px;
    border-radius: 1000px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.button-padding {
    padding: 10px 15px 10px 15px;
}

ul {
    list-style: none;
}

.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.main-content {
    width: 800px;
    margin: 0 auto;
}

.left-aside {
    position: absolute;
    width: 250px;
    margin-top: 40px;
}

.right-aside {
    position: absolute;
    left: calc(50% + 400px + 32px);
    width: 450px;
    padding: 20px;
    gap: 50px;
}

.button:hover, i:hover {
    cursor: pointer;
}

i {
    background-color: none;
    background: none;
}

button {
    background-color: none;
}

button:hover {
    background-color: none;
}

.image-logo {
    height: 46px;
    border-radius: 1000px;
    margin-right: 10px;
    width: auto;
    object-fit: cover;
    border: solid 1px lightgray;
}

.subinfo {
    font-size: 14px;
}

.section-list {
    gap: 25px;
    margin-top: 20px;
}

.big-image-logo {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin-right: 10px;
    object-fit: cover;
    border: solid 1px lightgray;
}

.section-title-link-header a {
    margin-right: 15px;
}

.title-header {
    font-size: 18px;
}