.right-aside-section {
    width: 100%;
}

.community-simple-div-link {
    align-items: center;
    width: 100%;
}

.community-simple-div-link form {
    margin-left: auto;
}

.section-title-link-header {
    justify-content: space-between;
    align-items: center;
}

.community-basic-info {
    justify-content: space-between;
}
