.post {
    width: 100%;
    padding: 28px 24px 20px;
    border: 1px solid #e8e8ee;
    border-radius: 12px;
    gap: 24px;
}

.post-main-content {
    align-items: flex-start;
    gap: 16px;
}

.user-picture {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.post-info {
    gap: 16px;
}

.post-info-header {
    gap: 2px;
}

.user-name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.post-info p {
    margin: 0;
}

.post-info-header p {
    color: #77778a;
    font-size: 14px;
}

.post-media {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.post-image-media {
    display: block;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.post-interaction {
    display: flex;
    align-items: center;
}

.icon-info {
    align-items: center;
    gap: 8px;
}

.icon-info i {
    font-size: 21px;
}

.icon-info p {
    margin: 0;
    font-size: 14px;
}